{% extends "base.html" %}

{% block title %}A propos{% endblock %}

{% block content %}
<div class="users-container">
    {% for user in users %}
        <div class="user-container">
            <img width="100px" height="100px" src="{{ user.img }}" alt="{{ user.lastname }} {{ user.firstname }}'s Avatar" class="user-img">
            <span class="user-name">
                <h3 id="lastname">{{ user.lastname }}</h3>
                <h3>{{ user.firstname }}</h3>
            </span>
            <a href="{{ user.link }}" class="button" target="_blank">{{ user.buttonName }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}<script src="{{ url_for('static', filename='js/a-propos.js') }}"></script>{% endblock %}
